@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.user-todos {
  padding: 1em;
  font-family: 'Libre Baskerville', serif;
}

.user-todos h2 {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid grey;
}

.todo {
  margin-bottom: 1em;
  max-width: 40em;
}
